/* Elancho y alto de todas las etiquetas
   abarca el relleno y el borde */

*{
    box-sizing: border-box;
}

/* Aplica el tipo de letra Lucida Sans a las etiquetas de la página y si no está instalado este font,
   se aplica sans-serif */
html {
    font-family: "Lucida Sans", sans-serif;
}

h1{
    font-size:3.0vw; /* Hace responsive, al 3.0% del ancho del viewport, el tipo de letra del h1  */
}

header{
    background-color: #9933cc;
    color: #ffffff; /* color de la letra blanco */
    padding: 15px;
}

/* Quita las viñetas a la lista no ordenada del menú*/
nav ul {
    /*    list-style-type: none;*/
    margin: 0;
    padding: 0;
}

nav li {
    padding: 8px;  /* Rellena con 8 pixels arriba, abajo, a la izquierda y a la derecha */
    margin-bottom: 7px;  /* Fija la margen de abajo de cada elemento en 7 pixels */
    background-color: #33b5e5; /* Fija el color del fondo en azul */
    color: #ffffff;  /* Fija el color de la letra en blanco */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  /* agrega una sobra a cada item */
}

/* Cuando se pasa el puntero del mouse por sobre una elemento de la
   lista del menú, su color de fondo cambia  a azul más oscuro */
nav li:hover {
    background-color: #0099cc;
}

/* Pone a flotar a la derecha los hipervínculos de login y regístrese */
#loginLogoutRegistrese{
    float: right;
}

/* Los hipervínculos que estan dentro de la etiqueta header les pone el mismo color de letra
definido para el header */
header a{
    color: inherit;
}

aside {
    margin:15px 0px; /* 15 pixels arriba y abajo; 0 pixels a la izquierda y derecha */
    background-color: #33b5e5; /* color del fondo */
    color: #ffffff; /* color de letra */
    text-align: center; /* centrar el texto */
    font-size: 14px; /* tamaño de letra */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); /* efecto de sombra */
}

/* Despues del elemento que tiene la etiqueta row, limpie el contenido y elimine el flotado a la
   izquierda o derecha */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Todas las clases cuyo identificador empiezan con la cadena col- 
   las pone a flotar a la izquierda */
[class*="col-"]{
    float:left;
    padding:15px;
}

/* Para smarphones, define el acho de todos las columnas al 100%  */
[class*="col-"]{
    width:100%;
}

footer {
    background-color: #0099cc; /* color del fondo */
    color: #ffffff; /* color de la letra */
    text-align: center; /*alineamiento del texto */
    padding: 15px; /* relleno arriba, abajo, izquierda y derecha */
}

@media only screen and (max-width:599px){
    h1{ font-size:4.5vw; /* Hace responsive, al 2.5% del ancho del viewport, el tipo de letra del h1  */}
    footer {font-size:3.0vw; }
}

/* Si el acho de la pantalla del dispositivo tiene como mínimo 600 px, aplique estos anchos a 
   los selectores */
@media only screen and (min-width:600px){
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}  
    
    h1{ font-size:4.5vw; /* Hace responsive, al 2.5% del ancho del viewport, el tipo de letra del h1  */}
    footer {font-size:3.5vw; }
}



/* Si el acho de la pantalla del dispositivo tiene como mínimo 768 px, aplique estos anchos a 
   los selectores */
@media only screen and (min-width:768px){
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} 

    h1{ font-size:2.5vw; /* Hace responsive, al 2.5% del ancho del viewport, el tipo de letra del h1  */}
    footer {font-size:0.8vw; }

}

/* Suprime el subrayado a los hipervínculos que están dentro de la etiqueta nav */
nav a{
    text-decoration: none;
}